$size: 400px;
$white: #f1f1f1;
$grey: #808080;
$dark-grey: #151515;
$near-black: #010101;
$black: #000000;

@font-face {
    font-family: "Eraser";
    src: url("../assets/eraser.regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@keyframes rotateUp {
    0% {
        transform: rotate(0deg);
    }
    96% {
        transform: rotate(-35deg);
    }
    100% {
    }
}

* {
    font-family: verdana, sans-serif;
    box-sizing: border-box;
}

html {
    background: linear-gradient(rgba(50, 50, 50, 0.9), rgba(50, 50, 50, 0.5)), url("../assets/set.jpeg");
    background-size: cover;
}

.text {
    color: $white;
    text-transform: uppercase;
    font-style: italic;
    display: inline;
    margin: 0;

    &--padded {
        padding-left: 4px;
        padding-top: 2px;
    }
}
.chalk-text {
    font-family: "Eraser";
    color: white;
    font-size: 1.5rem;
    line-height: 0;
}

.outercontainer {
    width: 100%;
    height: 100vh;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hinge {
    clip-path: polygon(0% 0%, 47% 0%, 100% 100%, 0% 100%);
    height: 100px;
    width: 100px;
    border: 0.1rem solid $grey;
    z-index: 2;
    position: relative;
    background-color: $near-black;
    left: 0;
    top: 100px;
    border-radius: 10px;
    &__rivet {
        display: block;
        font-size: 0.6rem;
        margin: 0;
        &--top {
            position: relative;
            left: 10px;
            top: 10px;
        }
        &--bottomleft {
            position: relative;
            left: 10px;
            top: 50px;
        }
        &--bottomright {
            position: relative;
            left: 60px;
            top: 33px;
        }
    }
}

.container {
    width: $size;
    height: $size;
    background-color: $black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
}

.clapper {
    &container {
        width: $size;
        height: 100%;
    }
    &__top {
        width: 100%;
        height: 50px;
        background-color: #151515;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $black;
        overflow: hidden;
        border-radius: 10px 0 0 0;
        &--white {
            width: 15%;
            height: 100%;
            background-color: $white;
            transform: skew(20deg);
            &:first-child {
                visibility: hidden;
            }
        }
    }

    &__bottom {
        width: 100%;
        height: 50px;
        background-color: #151515;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        &--white {
            width: 15%;
            height: 100%;
            background-color: $white;
            transform: skew(-20deg);
        }
    }
}

.info-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scene-take-roll {
    width: 95%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    border-top: 4px solid $white;
    border-bottom: 4px solid $white;
}

.roll,
.scene,
.take {
    width: 33%;
    height: 100%;
    background: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    padding: 0;
    &__text {
        @extend .chalk-text;
    }
}

.scene {
    border-right: 4px solid $white;
}

.take {
    border-right: 4px solid $white;
}

.date-prod-sound {
    width: 95%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid $white;
}

.date-prod {
    width: 60%;
    height: 100%;
}

.date,
.prod {
    background: $dark-grey;
    width: 100%;
    height: 50%;
    display: flex;
    border-right: 4px solid $white;
}

.date {
    border-bottom: 4px solid $white;
}
.sound {
    background: $dark-grey;
    width: 40%;
    &__text {
        @extend .chalk-text;
        font-size: 1.5rem;
        text-align: center;
    }
}

.date,
.prod {
    &__text {
        @extend .chalk-text;
        font-size: 1rem;
    }
}

.director {
    width: 95%;
    height: 15%;
    border-bottom: 4px solid $white;
    background: $dark-grey;
}

.cinematographer {
    width: 95%;
    height: 15%;
    border-bottom: 4px solid $white;
    background: $dark-grey;
}

.director,
.cinematographer {
    &__text {
        @extend .chalk-text;
        font-size: 1rem;
        margin-left: 3rem;
    }
}

.rotateUp {
    transform-origin: left center;
    -webkit-animation: rotateUp 4s;
    animation: rotateUp 4s;
    animation-iteration-count: 6;
}
